*.class
*.output*
*log
.idea
.idea/*
*.iml
core/*.iml
.#*
.DS_Store
Makefile

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
src/main/resources/glove.42B.300d.txt
